{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, Please register at: <a href="{{ url_for('registration') }}">Registration</a></h1>
    <h1>{{ pageviews.visitor_count }}</h1>
{% endblock %}
