{% extends "base.html" %}

{% block content %}
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    <table>
        <tr>
            <th>Fistname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
    {% for visitor in visitors %} 
        <tr>
            <td>{{ visitor.firstname }}</td>
            <td>{{ visitor.lastname }}</td>
            <td>{{ visitor.email }}</td>
        </tr>
    {% endfor %}
    </table><br>
    <form action="{{ url_for('new_registration') }}">
      <input type="submit" value="register"/>
    </form>
{% endblock %}